* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Spartan;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: black;
}

.nav-container {
  font-family: Spartan;
  background-color: #212529;
  padding: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container p {
  margin: 2px;
}

.btn {
  display: flex;
  margin: 4rem 22rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.btn button {
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
}
.btn button:hover {
  background-color: darkcyan;

}



.info {
  text-align: center;
  margin: 20px auto;
}

/* card */

.card-container {
  margin: 2rem 50rem;
  width: 60%;
}





@media(max-width: 990px) {
  .card {
    margin: 20px;
  }
}